.txtgames{
    font-size: x-large;
    font-family: Gruppo;
}


.logo{
    width: 100px;

}


.headimg{
    font-family: Gruppo;
    font-weight: 10000;
}


.headimg{
    background-image: url(Gaming.jpeg);
}




#img1{
    margin-right: 25px;
  
  
  }
  
  
  #img2{
    margin-right: 25px;
  
  
  }
  
  
  
  
  #img3{
    margin-right: 25px;
  
  
  }



